name: Industrialisation continue sur le serveur Alwaysdata

on: push

jobs:
  Connexion:
    runs-on: ubuntu-latest
    steps:
      - name: Connexion SSH avec le serveur
        uses: appleboy/ssh-action@master
        with:
          host: "ssh-${{ secrets.USERNAME }}.alwaysdata.net"
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd $HOME/www/

  Copy:
    needs: Connexion
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create sensitive .htpasswd file
        run: |
          # Crée le fichier .htpasswd dans le chemin correct (www/atelier1/)
          # en utilisant la valeur cachée dans le Secret HTPASSWD_CONTENT.
          echo "${{ secrets.HTPASSWD_CONTENT }}" > www/atelier1/.htpasswd

      - name: Connexion SSH avec le serveur
        uses: appleboy/ssh-action@master
        with:
          host: "ssh-${{ secrets.USERNAME }}.alwaysdata.net"
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            last_directory=$(basename ${{ runner.workspace }})
            cd $HOME/
            git clone https://github.com/${{ github.repository }}.git
            # Vérifier si le répertoire de destination existe
            if [ "$(ls -A ./www)" ]; then
              # rsync va copier le fichier .htpasswd créé plus haut
              rsync -r --delete ./$last_directory/ ./www
              rm -rf ./$last_directory
            else
              echo "Le répertoire flask de destination sur votre serveur n'existe pas"
              exit 1
            fi
